.modal-body {
  padding: 0px;
  width: 630px;
}
#call-sec {
  padding: 12px 0px;
  text-align: center;
  display: none;
  background: #e91e63;
}
#call-sec span {
  font-size: 17px;
  font-weight: 600;
}

nav ul li a {
  color: #000 !important;
  border-bottom: 2px solid #ffffff !important;
  text-transform: uppercase !important;
}
header {
  background: #ffffff;
}
.navbar-nav {
  margin-left: 18%;
}
.content-text .row {
  display: none;
}
.pop {
  display: none !important;
}
.form-control-w-border:focus {
  border: 1px solid #3264ff;
}
.hide {
  display: none;
}
#contact-form > form > div {
  margin-top: 1rem;
}
#read-more-btn {
  margin-top: 2.5em;
}
#read-more-btn a {
  color: #fff;
  padding: 1rem 2rem;
  background: #ff4600;
  border-radius: 5px;
}

.tour-feature-card {
  background-color: #061937;
  border-radius: 5px;
  color: #fff;
  position: relative;
  padding: 1.5rem;
}

.tfc-photo {
  background-image: url("../img/tour-feature-card.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.tour-feature-card * {
  color: white;
}

.tour-feature-card .tfc-content {
  padding-top: 1rem;
}

.pkjs-heading-container {
  background-color: #10294d;
  padding: 2rem 0;
}

.pkjs-heading-container h1 {
  text-align: center;
  color: white;
  margin: 0;
}

#packages-list {
  padding: 2rem 0;
}

#packages-list .package {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 10px 10px 15px -10px rgba(224, 224, 224, 1);
  -moz-box-shadow: 10px 10px 15px -10px rgba(224, 224, 224, 1);
  box-shadow: 10px 10px 15px -10px rgba(224, 224, 224, 1);
  border-radius: 5px;
  margin-top: 1rem;
}

#packages-list .package .content {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

#packages-list .package .content .info {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#packages-list .package .content .info .inclusions {
  padding-top: 1rem;
}

.duration {
  border: 1.5px solid #ff4600;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: #ff4600;
  font-size: 12px;
}

.btn-show-more {
  color: #ff4600;
  font-weight: 600;
  padding: 0;
  font-size: 14px;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-book-pkg {
  font-size: 14px;
  padding: 0 1.5rem;
}

.tour-pkg-img {
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn:focus {
  box-shadow: none;
}

.dropdown {
  position: absolute;
  background-color: white;
  z-index: 3;
  border-radius: 5px;
  padding: 0 1rem;
  display: none;
}

.tours-dropdown-container:hover .dropdown {
  display: block;
}

@media only screen and (max-width: 768px) {
  #call-sec {
    display: none !important;
  }
  header {
    padding: 0px 0px !important;
    text-align: center;
  }
  .ps-2 {
    padding-left: 6rem !important;
  }

  #packages-list .package {
    flex-direction: column;
  }
  #packages-list .package .cover img {
    width: 100%;
    height: 250px;
  }

  #packages-list .package .content {
    flex-direction: column;
  }

  #packages-list .package .content .info {
    max-width: 100%;
  }

  .price-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-show-more {
    margin: 0 0 1rem 0;
  }
  .btn-book-pkg {
    width: 100%;
  }
}
